/*nueva fuente*/

@font-face {

    font-family: perfect dos vga;

    src: url(fuentes/perfect\ dos\ vga\ 437.ttf);

}
/*cuerpo*/

body {
    background-color: #040404;

}
/*barra de navegacion*/

nav {
    background-color: #040404;
}
/*estilo iconos redes sociales*/
#social {
    float: right;
}
.redes {
    border-style: solid;
    border-color: #040404;
    border-radius: 25px;
}

#titulo{
    color: #04ac04;
    font-family: perfect dos vga;
    text-decoration: none;
}
#titulo:hover{
 color: #FFFFFF;
background: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 
0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 
0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

/*texto PORTFOLIO*/
#portfolio {
    font-size: 34px;
    font-family: perfect dos vga;
color: #FFFFFF;
background: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 
0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18,
 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
/*nombre principal*/
#nombre {
    font-family: perfect dos vga;
    color: #04ac04;
    margin-top: -115px;
}
#nombre:hover{
    color: #FFFFFF;
background:#040404;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 
0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 
0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
/*texto ANALISTA PROGRAMADOR UNIVERSITARIO, FULL STACK DEVELOPER JR*/
h3 {
    font-family: perfect dos vga;
    color: #04ac04;
}
/*banner*/
img {
    background-size: 100%;
    position: relative;

}
/*foto de perfil*/
#perfil {

   top: -105px;

}
/*divisor similar a menu vintage*/
#divisor1 {
    background-color: #04ac04;

}

/*divisor final similar a opciones de teclas FUNCTION vintage*/
#divisor2 {
    border-style: solid;
    border-color: #04ac04;
    font-family: perfect dos vga;
    color: #04ac04;
    margin-bottom: 30px;
    padding-left: 30px;

}
/*hover del anterior divisor*/
#divisor2:hover {
    background-color: #FFFFFF;
    cursor: progress;
}
/*divisores de porcentaje circular*/
#divisor3,
#divisor4,
#divisor5 {
    background-color: #04ac04;
    font-size: 90px;
    text-align: center;
    margin-bottom: 60px;

}
/*hover de divisor 3, 4*/
.escritura:hover {
    background-color: #040404;
    color: #FFFFFF;
    }

/*parrafo de los divisores*/
p {
    font-family: perfect dos vga;
    color: #040404;
    font-size: 20px;
}
/*hover del parrafo divisor*/
P:hover {
    background-color: #FFFFFF;
    cursor: pointer;

}
/*linea de separacion*/
hr {
    color: #04ac04;

}

/*--estiloc del arbol de carpetas--*/


    
h1 {
    text-align: center;
}

.container2 {
    margin-top: 100px;
    top: 30%;
    left: 50%;
    position: relative;
    text-align: center;
    transform: translate(-50%, -50%);
}

.ui-widgets {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 9rem;
    margin: 1.5rem;
    border: 1.2rem solid palegreen;
    box-shadow: inset 0 0 7px grey;
    border-left-color: palegreen;
    border-top-color: chartreuse;
    border-right-color: darkgreen;
    border-bottom-color: white;
    text-align: center;
    box-sizing: border-box;
}

.ui-widgets:nth-child(2) {
    border-top-color: chartreuse;
    border-right-color: white;
    border-left-color: palegreen;
    border-bottom-color: white;
}

.ui-widgets .ui-values {
    top: 40px;
    position: relative;
    left: 10px;
    right: 0;
    font-weight: 700;
    font-size: 2.0rem;
    color: #04ac04;
    font-family: perfect dos vga;
}

.ui-widgets .ui-labels {
    left: 0;
    bottom: -36px;
    text-shadow: 0 0 4px grey;
    color: #04ac04;
    font-family: perfect dos vga;
    position: relative;
    width: 100%;
    font-size: 16px;
}

.contenedor-arbol,
.contenedor-arbol ul,
.contenedor-arbol li {
    position: relative;
    font-family: perfect dos vga;
    font-size: 30px;
    color: #04ac04;
}

.contenedor-arbol ul {
    list-style: none;
}

.contenedor-arbol li::before,
.contenedor-arbol li::after {
    content: "";
    position: absolute;
    left: -12px;
}

.contenedor-arbol li::before {
    border-top: 2px solid green;
    top: 9px;
    width: 8px;
    height: 0;
}

.contenedor-arbol li::after {
    border-left: 2px solid brown;
    height: 100%;
    width: 0px;
    top: 2px;
}

.contenedor-arbol ul>li:last-child::after {
    height: 8px;
}

/*-estilos de efecto de escritura----*/
.container4 {
    display: block;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border: 2px solid #04ac04;
}

h1 {
    text-align: center;
}

.maquina-escribir {
    background: #04ac04;
    position: relative;
}

.maquina-escribir::after {
    content: "";
    border-left: 3px solid #04ac04;
    background: #04ac04;
    right: 0;
    height: 100%;
    position: absolute;
    animation: maquinaescribir 2s infinite alternate steps(14);
}

@keyframes maquinaescribir {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

/*estilos de barra de porcentaje de lenguaje*/
#progress {
    background: #333;
    border-radius: 13px;
    height: 50px;
    width: 400px;
    padding: 3px;
}

#progress1 {
    background: #333;
    border-radius: 13px;
    height: 50px;
    width: 400px;
    padding: 3px;
}
#progress2 {
    background: #333;
    border-radius: 13px;
    height: 50px;
    width: 400px;
    padding: 3px;
}

#progress:after {
    content: '';
    display: block;
    background:#04ac04;
    width: 56%;
    height: 100%;
    border-radius: 9px;
}
#progress1:after {
    content: '';
    display: block;
    background:#04ac04;
    width: 70%;
    height: 100%;
    border-radius: 9px;
}
#progress2:after {
    content: '';
    display: block;
    background:#04ac04;
    width: 80%;
    height: 100%;
    border-radius: 9px;
}


/*--estilo porcentaje de idiomas-----*/

#eng {
    color: #04ac04;
    
    font-family: perfect dos vga;
    font-size: 35px;
}
/*estilo de arte ASCII*/
pre{
    color:#dd9d20;
    font-size: 20px;
}
#monitor{
    border-style: solid;
    border-color: #dd9d20;
    margin-bottom: 50px;
}
#monitor2{
    color: #dd9d20;
}
.icon{
    color: #dd9d20;
}
/*estilo de imagenes de diplomas*/

.hoverbox
{
	cursor: default;
	list-style: none;
}

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}

.hoverbox a:hover .preview
{
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.hoverbox img
{
	background: #fff;
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	width: 100px;
	height: 75px;
}

.hoverbox li
{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
}

.hoverbox .preview
{
	border-color:#040404;
	width: 300px;
	height: 250px;
}
