@font-face {

    font-family: perfect dos vga;
    
    src:url(fuentes/perfect\ dos\ vga\ 437.ttf);
    
    }
    body {
        background-color: #040404;

    }
    nav {
        background-color: #040404;
    }

    #portfolio {
        font-family: perfect dos vga;
        color:#04ac04;
        font-size: 34px;
    }

    h1, h3{
        font-family: perfect dos vga;
        color:#04ac04;
    }
    img {
        background-size: 100%;
        position: relative;
        
    }
     
    #perfil {
        border-style: solid;
        border-radius: 100%;
    }
    #divisor1 {
        background-color: #04ac04;
        

    }

    #divisor2 {
        border-style: solid;
        border-color: #04ac04;
        font-family: perfect dos vga;
        color:#04ac04;
      

    }